@{
    Layout = null;
}
<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Licenses</a>
        </li>
    </ul>
    <span class="copyright ml-auto my-auto mr-2">
        Copyright © 2018
        <a href="#" rel="nofollow">LukiSoftware</a>
    </span>
</footer>